<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
		<title>QUODO DEMO</title>
		<link rel="stylesheet" href="../style/index.scss">
  </head>
  <body data-barba="wrapper">

		<header class="Header">
			<h1 class="Header-logo"><a href="./index.html">QUODO<br>PAGE 1</a></h1>

			<nav class="Header-nav">
				<ul>
					<li class="Header-navItem"><a href="./index.html">page 1</a></li>
					<li class="Header-navItem"><a href="./page-two.html">page 2</a></li>
					<li class="Header-navItem"><a href="./page-three.html">page 3</a></li>
				</ul>
			</nav>
		</header>

    <main class="background-green" data-barba="container" data-barba-namespace="button">

			<a href="./page-two.html" class="Button button-transition background-yellow">page two</a>
			<a href="./page-three.html" class="Button button-transition background-lightblue">page three</a>

    </main>

		<div id="slide"></div>

    <script src="../script/index.js"></script>
  </body>
</html>
